leaflet{
    height:500px
}

.btn-group a{
    overflow:hidden
}

.leaflet-div-icon{
    background:none;
    border:none;
}




.blink {
    animation: blink 1s steps(10, start) infinite;
    -webkit-animation: blink 1s steps(10, start) infinite;
}
@keyframes blink {
    from {opacity:1}
    to { opacity:0}
}
@-webkit-keyframes blink {
    from {opacity:1}
    to { opacity:0}
}