doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title remodra
    link(href="lib.css" rel="stylesheet")
    link(href="app.css" rel="stylesheet")

  body(ng-app="remodra")
    .container
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle( type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="javascript:void(0)") RemoDra
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li.active
              a(href="#") Accueil
            li
              a(href="#/map") Carte
            li
              a(href="#/bipi") Tournée de poteau
            li
              a(href="javascript:void(0)") Annuaire
          form.navbar-form.navbar-right
            input.form-control.col-lg-8(type="text" ,placeholder="Rechercher")

      div(ng-view="")
    script(src="lib.js")
    script(src="templates.js")
    script(src="app.js")
    script(src="material.js")
    script(src="ripples.js")