.container
  .navbar.navbar-default
    .navbar-header
      button.navbar-toggle( type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="javascript:void(0)") RemoDra
    .navbar-collapse.collapse.navbar-responsive-collapse
      ul.nav.navbar-nav
        li.active
          a(href="javascript:void(0)") Accueil
         li
          a(href="javascript:void(0)") Carte
         li
          a(href="javascript:void(0)") Tournée de poteau
         li
          a(href="javascript:void(0)") Annuaire
      form.navbar-form.navbar-right
        input.form-control.col-lg-8(type="text" ,placeholder="Rechercher")

  .row
    col-sm-offset-1.col-sm-10
      h1
        | RemoDra
      p Inspiré par RemoCra (SDIS83)
      .well.infobox
        p RemoDra est une application web visant a fournir un outil de gestion des poteaux et point d'eaux, plus un annuaire
        p Par rapport a RemoCra, les objectifs sont
          ul
            li
              strong open source
            li utilisable sur mobile et tablettes
            li utilisable en offline
            li intégration d'un moteur de recherche transverse

  .row
    include templates/pibi-form
  .row
    include templates/map

