

.row
  col-sm-offset-1.col-sm-10
    h1
      | RemoDra
    p Inspiré par RemoCra (SDIS83)
    .well.infobox
      p RemoDra est une application web visant a fournir un outil de gestion des poteaux et point d'eaux, plus un annuaire
      p Par rapport a RemoCra, les objectifs sont
        ul
          li
            strong open source
          li utilisable sur mobile et tablettes
          li utilisable en offline
          li intégration d'un moteur de recherche transverse


