h1 liste des tournées

table.table.table-striped
  thead
    tr
      th
      th #
      th Nom
      th Commune
      th taille
      th Action
  tbody
    tr(ng-repeat="tournee in tournees")
      td(style="background-color:{{tournee.color}};width:20px;height:20px")
      td {{tournee.id}}
      td {{tournee.name}} Non défini
      td {{tournee.city}} Non défini
      td {{tournee.hydrant_count}}
      td
        a.btn.btn-default(ng-href="#/tournee/detail/{{tournee.id}}") Voir
    tr
      td(style="background-color:#0000FF;width:20px;height:20px")
      td
      td Point d'eau de mon secteur sans tournée
      td
      td {{sanstournee.size}}
      td
        a.btn.btn-default(ng-href="#/detail-tournee/") Voir
    tr
      td(colspan="6")
        a.btn.btn-block.btn-primary(ng-href="#/modifie-tournee/") Créer une nouvelle tournée